.comment_UI{
    width: 600px;
    height: auto;
    border-radius: 5px;
    background-color: rgb(160, 163, 163);
    border: 1px;
    border: 1px solid rgb(59, 56, 56);
    margin-top: 5px;
}

.content{
    margin-top: -7px;
    margin-left: 10px;
}